.advantages {
  padding: 45px 0 75px;
  background-color: rgb(248, 247, 247);

  h1 {
    margin-bottom: 40px;
  }

  .advantages-container-inner {
    display: block;

    .description-wrap {
      display: flex;
      justify-content: center;
      align-content: center;

      .advantages-description {
        font-family: Arial;
        font-size: 16px;
        position: relative;
        text-align: left;
        height: 184px;
        align-self: center;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 50px;
        margin-top: 20px;

        //firefox scrollbar styling
        scrollbar-color: $yellow rgba(18, 18, 18, 0.1);;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          width: 1px;
          background: rgba(18, 18, 18, 0.1);
          //background-clip: content-box;

        }

        &::-webkit-scrollbar-thumb {
          background: transparent;
          position: absolute;
          border-radius: 50px;
          border: 20px solid $yellow;
        }
      }
    }


  }


}