.contact-form {
  padding: 45px 0;
  background: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-size: cover;

  h1.title {
    color: #fff;
    //margin-bottom: 34px;
  }

  form {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;

    input.form-control {
      cursor: text;
      font-family: Arial;
      outline: none;
      display: block;
      padding: .375rem .75rem;
      font-size: 18px;
      font-weight: 400;
      color: rgb(229, 229, 229)!important;
      background-color: transparent;
      background-clip: padding-box;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 0;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      &:focus {
        color: #fff;
        background-color: transparent;
        outline: none;
        box-shadow: none;
      }
    }
    select.form-control {
      background-color: transparent;
      border: none;
      padding: .375rem 0.30rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 0;
      color: rgb(229, 229, 229);
      font-size: 18px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../img/icons/dropdown_arrow.png");
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;

      option {
        padding: 10px 0;
        width: 100%;
        color: #000;
        font-size: 16px;
        background-color: transparent;

        &:checked {
          color: $yellow;
        }
      }

      &:focus {
        color: #fff;
        background-color: transparent;
        outline: none;
        box-shadow: none;
      }
    }
    select::-ms-expand {
      display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
    }

    //placeholder color change
    input[type="email"]::placeholder { /* Firefox, Chrome, Opera */
      color: rgb(229, 229, 229);
    }
    input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgb(229, 229, 229)!important;
    }
    input[type="email"]::-ms-input-placeholder { /* Microsoft Edge */
      color: rgb(229, 229, 229)!important;
    }
    input[type="text"]::placeholder { /* Firefox, Chrome, Opera */
      color: rgb(229, 229, 229);
    }
    input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgb(229, 229, 229)!important;
    }
    input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
      color: rgb(229, 229, 229)!important;
    }

    button.btn {
      font-weight: bold;

      @media (max-width: 768px) {
        margin-top: 20px;
      }
    }
  }
}