footer {
  background-color: rgb(34, 51, 77);
  padding: 50px 0 30px;


  @media (max-width: 567px) {
    padding: 10px 0;
  }

  h2.footer-title {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;

    @media (max-width: 567px) {
      margin-bottom: 20px;
    }
  }

  .footer-link-set {
    display: block;

    @media (max-width: 567px) {
      margin: 20px;
    }

    ul {
      list-style-type: none;
      li {
        color: rgb(255, 255, 255);
        a {
          color: inherit;
          font-size: 14px;
          line-height: 30px;
          text-decoration: none;

          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }

  .footer-block-1 {

    @media (max-width: 567px) {
      p,p.tribute {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
      }
    }
    @media (max-width: 768px) {
      a > img {
        display: block;
        margin: 0 auto 25px;
      }
      p.tribute {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
      }
    }

    img {
      margin-bottom: 30px;
    }
    p {
      border-top: 1px solid rgba(247, 248, 249, 0.1);
      padding-top: 20px;
      margin-bottom: 20px;
      color: rgb(255, 255, 255);
      font-size: 14px;
      line-height: 24px;
    }
    p.tribute {
      display: flex;
      flex-direction: row;
      color: rgb(194, 194, 194);
      line-height: 16px;
      margin-bottom: 0;

      @media (min-height: 768px) {
        font-size: 13px;
      }

      img {
        margin-left: 5px;
      }
    }

  }

  .footer-block-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-block-3 {
    display: flex;
    flex-direction: column;

    @media (max-width: 567px) {
      .footer-title, ul > li {
        text-align: center;
      }

      .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
    @media (min-width: 567px) {
      .footer-title, ul > li {
        text-align: center;
      }

      .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }

    ul > li {
      margin-bottom: 20px;
      color: #c2c2c2;
      font-weight: 400;

    }
    .footer-social {
      border-top: 1px solid rgba(247, 248, 249, 0.1);
      padding: 20px 0;
      margin-top: 20px;

      .footer__social-link{
        margin-right: 25px;
      }
    }
  }
}