header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 999;
  padding: 3px 0;
  background-color: #22334d;//DEV ONLY

  .header-wrap {
    position: relative;
  }

  nav.navbar {
    padding: 0;
    a.header__logo {
      margin: 3px 0;

      img.logo-big {
        display: block;
      }
      img.logo-small {
        display: none;
      }
    }

    .navbar-collapse {
      .header__reference {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 22px 0 18px;
        justify-content: flex-end;

        .ref-button {
          display: none;
          background-color: transparent;
          border: 1px solid rgba(255, 255, 255, 0.8);
          border-radius: 5px;
          width: 22px;
          height: 22px;
        }

        .header__address,
        .header__phone {
          margin-left: 40px;
          color: #f3f3f3;
        }

        .header__address::before,
        .header__phone::before {
          margin-right: 10px;
          content: "";
          display: inline-block;

        }

        .header__address::before {
          background: url("../img/icons/address_icon.png");
          width: 13px;
          height: 18px;
        }

        .header__phone::before {
          background: url("../img/icons/phone_icon.png");
          width: 17px;
          height: 17px;
        }

        .header__social-link {
          margin-left: 25px;
        }

      }

      ul.navbar-nav {
        //max-width: 768px;
        justify-content: space-around;
        background-color: $yellow;
        border-radius: 10px;

        li.nav-item {

          a.nav-link {
            position: relative;
            color: #000;
            margin: 12px 22px 10px;
            padding: 0;
            font-family: "Arial";
            font-weight: 700;
            font-size: 18px;
            outline: 0;
            cursor: pointer;
          }

          a.dropdown-toggle::after {
            border: none;
            font-family: FontAwesome;
            content: "\f078";
            font-size: 11px;
            vertical-align: 0.100em;
          }

          .dropdown-menu {
            background-color: rgba(51, 151, 226, 0.8);
            border-radius: 0;
            padding: 0;
            top: 93%;
            box-shadow: -1px 4px 15px 1px rgba(0, 0, 0, 0.10);
            a.dropdown-item {
              color: #fff;
              //margin: 10px 0;
              padding: 10px 1.5rem;

              &:focus,
              &:hover {
                background-color: initial;
                color: #000;
              }
            }

          }
        }
      }
    }
  }

  button.navbar-toggler {
    position: absolute;
    right: 0;
    top: 22px;
    outline: none;


    i {
      font-family: FontAwesome;
      color: #fff; //Dev
    }
  }


  }

