@mixin font($f-name, $f-style, $f-weight, $f-url) {
  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src: url($f-url) format('woff');
  }
}

@include font('Arial', normal, 400, '../fonts/Arial.woff');


